-- MySQL dump 10.13  Distrib 9.6.0, for Win64 (x86_64)
--
-- Host: localhost    Database: motor_data
-- ------------------------------------------------------
-- Server version	9.6.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '58a62f5f-2b50-11f1-8404-e40d364a5785:1-522';

--
-- Table structure for table `maintenance_logs`
--

DROP TABLE IF EXISTS `maintenance_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `maintenance_logs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `motor_tag` varchar(255) DEFAULT NULL,
  `log_date` date DEFAULT NULL,
  `type` varchar(255) DEFAULT NULL,
  `technician` varchar(255) DEFAULT NULL,
  `notes` text,
  `vibration_de_mm_s` float DEFAULT NULL,
  `vibration_nde_mm_s` float DEFAULT NULL,
  `megger_mohm` float DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `ix_maintenance_logs_motor_tag` (`motor_tag`),
  CONSTRAINT `maintenance_logs_ibfk_1` FOREIGN KEY (`motor_tag`) REFERENCES `motors` (`tag`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=69 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `motors`
--

DROP TABLE IF EXISTS `motors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `motors` (
  `tag` varchar(255) NOT NULL,
  `name` varchar(255) NOT NULL,
  `area` varchar(255) DEFAULT NULL,
  `service` varchar(255) DEFAULT NULL,
  `power_kw` float DEFAULT NULL,
  `voltage` int DEFAULT NULL,
  `current_amp` float DEFAULT NULL,
  `frequency_hz` float DEFAULT NULL,
  `rpm` int DEFAULT NULL,
  `efficiency` varchar(255) DEFAULT NULL,
  `pf` float DEFAULT NULL,
  `frame_size` varchar(255) DEFAULT NULL,
  `protection_class` varchar(255) DEFAULT NULL,
  `insulation_class` varchar(255) DEFAULT NULL,
  `duty` varchar(255) DEFAULT NULL,
  `make` varchar(255) DEFAULT NULL,
  `model` varchar(255) DEFAULT NULL,
  `serial_number` varchar(255) DEFAULT NULL,
  `mfg_year` int DEFAULT NULL,
  `bearing_de` varchar(255) DEFAULT NULL,
  `bearing_nde` varchar(255) DEFAULT NULL,
  `lubrication_type` varchar(255) DEFAULT NULL,
  `cable_size` varchar(255) DEFAULT NULL,
  `cable_length_m` float DEFAULT NULL,
  `starter_type` varchar(255) DEFAULT NULL,
  `breaker_details` varchar(255) DEFAULT NULL,
  `relay_details` varchar(255) DEFAULT NULL,
  `substation` varchar(255) DEFAULT NULL,
  `pcc` varchar(255) DEFAULT NULL,
  `mcc` varchar(255) DEFAULT NULL,
  `feeder` varchar(255) DEFAULT NULL,
  `incoming` varchar(255) DEFAULT NULL,
  `location` varchar(255) DEFAULT NULL,
  `remarks` text,
  `status` varchar(255) DEFAULT NULL,
  `is_critical` tinyint(1) DEFAULT NULL,
  `commission_date` date DEFAULT NULL,
  `last_maintenance_date` date DEFAULT NULL,
  `next_maintenance_date` date DEFAULT NULL,
  PRIMARY KEY (`tag`),
  KEY `ix_motors_tag` (`tag`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-09 20:41:58
